{% extends 'products/main.html' %}

{% block content %}

<br><br>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8"></div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body m-4">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <center>
                            <button type="button" class="btn btn-outline-dark btn-md">Log-in</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


{% endblock content %}