<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px;
        }

        @page {
            size: letter;
            margin: 1in;
        }

    </style>
</head>
<body>

    <h3>User Details</h3>
    <b>Full Name:</b> {{user.first_name}} {{user.last_name}}<br>
    <b>Username:</b> {{user.username}}  <br>
    <b>Email Address:</b> {{user.email}} 

    <br><br>
    
    <h3>Purchased Books</h3>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Book Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Date Added</th>
                
            </tr>
        </thead>
        <tbody>
            {% for c in cart %}
            <tr>
                <td>{{c.item.book.title}}</td>
                <td>{{c.item.book.author}}</td>
                <td>Php {{c.item.book.price}}</td>
                <td>{{c.item.quantity}}</td>
                <td>Php {% widthratio  c.item.book.price 1 c.item.quantity %}</td>
                <td>{{c.item.date_created}}</td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
    
    <br><br>   

    <h3>Shopping Summary</h3> 
    <b>Number of Items:</b> {{book_count}} <br>
    <b>Cumulative Price:</b> Php {{cum_price}} <br>

</body>
</html>