{% extends 'products/main.html' %}

{% block content %}

<section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 mx-auto">
        <h1 class="fw-light">Join MyShop!</h1>
        <p class="lead text-muted">For all of the bibliophiles out there, check out our rare and new collection of Filipiniana books and other 
        collections under Anthropology, History, Journalism, Literature, Philosophy, Political Science, Psychology, and Sociology!</p>
      </div>
    </div>
</section>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
            <div class="card text-center shadow">
                <div class="card-header">
                    Welcome! Please Register
                </div>
                <div class="card-body m-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                    {{form.first_name}}
                                    <label for="floatingInput">Enter First Name</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                    {{form.last_name}}
                                    <label for="floatingInput">Enter Last Name</label>
                                </div>
                            </div>
                        </div>

                        <br> 

                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{form.username}}
                                    <label for="floatingInput">Enter Username</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{form.email}}
                                    <label for="floatingInput">Enter Email Address</label>
                                </div>
                            </div>
                        </div>

                        <br>
        
                        <div class="form-floating mb-3">
                            {{form.password1}}
                            <label for="floatingInput">Enter Password</label>
                        </div> 

                        <div class="form-floating mb-3">
                            {{form.password2}}
                            <label for="floatingInput">Confirm Password</label>
                        </div> 

                        
                        <br>
                        <center>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-dark btn-md">Register</button>
                        </div>
                        </center> 
                    </form>

                    <br><br>
                    Have an account? <a href="{% url 'login'  %}" style="text-decoration: none;">Login</a>.
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
    </div>
</div>

<br>
<br>

{% endblock content %}